.subscribe-form {
    background-color: #000;
    padding: 60px;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    position: relative;
}

.subscribe__form-line {
    position: absolute;
    background-color: #118DA8;
    width: 3px;
    position: absolute;
    border-radius: 6px;
}

.subscribe__form-line--1 {
    height: 22px;
    left: -5px;
    bottom: 30px;
    transform: rotate(30deg);
}

.subscribe__form-line--2 {
    height: 60px;
    left: 5px;
    bottom: -30px;
    transform: rotate(20deg);
}

.subscribe__form-line--3 {
    height: 55px;
    left: 55px;
    bottom: -31px;
    transform: rotate(-20deg);
}

.subscribe-form__title {
    font-size: 4.5rem;
    line-height: 1.09;
}

.subscribe-form__aside {
    max-width: 365px;
}

.subscribe-form__body {
    width: 520px;
}